name: Deploy and Secure
on:
  push:
    branches: ["main"] # Change to 'master' if that is your branch name

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Inject Secrets
        run: |
          sed -i "s|PROD_URL_PLACEHOLDER|${{ secrets.SUPABASE_URL }}|g" index.html
          sed -i "s|PROD_KEY_PLACEHOLDER|${{ secrets.SUPABASE_KEY }}|g" index.html

      - name: GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
